{% extends 'base.html' %}
{% block title %}
	{{ super() }}
	- Список курсов
{% endblock %}
{% block content %}
    <div>
        <a href="/create-course/?id={{id}}&name={{category_name}}">Создать новый курс</a>
        <br>
        <h1>Список курсов для категории {{category_name}}:</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/copy-course/?cat_id={{id}}&item_id={{item.id}}&cat_name={{category_name}}">скопировать</a></span>
        </li>
        {% endfor %}
    </div>
{% endblock %}