{% extends 'base.html' %}
{% block title %}
	{{ super() }}
	- Список студентов
{% endblock %}
{% block content %}
    <div>
		<li>
			<a href="/create-student/">Создать студента</a>
		</li>
		<li>
			<a href="/add-student/">Добавить студента на курс</a>
		</li>
	</div>
    <h1>Список студентов</h1>
    <div>

        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/update-student/?id={{item.id}}">редактировать</a></span>
            {% for course in item.courses %}
                {{course.name}}
            {% endfor %}
        </li>
        {% endfor %}
    </div>
{% endblock %}
<li>
            {{item.name}} <span><a href="/copy-course/?name={{item.name}}&id={{id}}">скопировать</a></span>
        </li>